@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

input {
  min-width: 0;
}

.loginBanner {
  border-radius: 4rem 10rem 10rem 4rem;
}
.loginContainer {
  border-radius: 4rem 0rem 0rem 4rem;
}

.registerBanner {
  border-radius: 10rem 4rem 4rem 10rem;
  right: 0;
  left: auto;
  width: 45vw;
  text-align: end;
}
.registerContainer {
  border-radius: 0rem 4rem 4rem 0rem;
}
.expand {
  border-radius: 0;
  width: 100%;
  height: 100%;
}
